@page
@model Laszlo_Sebastian_Proiect.Pages.Styles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Style</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Style.StyleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Style.StyleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Style.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Style.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Style?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
