@page
@model Laszlo_Sebastian_Proiect.Pages.Tattoos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tattoo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tattoo.ClientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tattoo.ClientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tattoo.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tattoo.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tattoo.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tattoo.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tattoo.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tattoo.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tattoo.TattooArtist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tattoo.TattooArtist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tattoo.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tattoo.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tattoo.AgeConfirmation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tattoo.AgeConfirmation)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tattoo.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
